@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes shrink {
    from {
        transform: scale(1); /* Kích thước ban đầu */
    }
    to {
        transform: scale(0.9); /* Thu nhỏ xuống 90% kích thước ban đầu */
    }
}
@keyframes enlarge {
    from {
        transform: scale(0.9); /* Kích thước thu nhỏ */
    }
    to {
        transform: scale(1); /* Kích thước ban đầu */
    }
}


.col-25 {
    flex: 0 0 25%;
    max-width: 25%;
    /* background-color: #666; */
}
.col-50 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-16-7 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
}
.container {
    max-width: 1770px;
}
.col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}
.footer-support .col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px;
    }

.header .header-list .bwp-topbar .container {
    max-width: 1770px;
}
.header .header-list .header-desktop .container {
    max-width: 1770px;
}
.slider .container {
    max-width: 1770px;

}
.filter .container {
    max-width: 1770px;
}
.widget .container {
    max-width: 1770px;
}
.footer-support .container {
    max-width: 1440px;
}
.footer-contact .container {
    max-width: 1440px;
}
.footer-endcontact .container {
    max-width: 1440px;
}
.footer-endlink .container {
    max-width: 1440px;
}
}
.header .header-desktop a {
    text-decoration: none;
    color: #fff;
}
.header .bwp-topbar a {
    text-decoration: none;
    color: #fff;
}
.slider .slider-list-item a {
    text-decoration: none;
    color: #000;
}
.filter .filter-item a {
    text-decoration: none;
    color: #868686;
}
.footer-endcontact .footer-list-item a {
    text-decoration: none;
    color: #868686;
}